@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');
  /* @import url("https://use.typekit.net/tec1vhe.css"); */
@import url('https://fonts.cdnfonts.com/css/adobe-garamond-pro-2');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: black;
}

.mainGrid{
  grid-template-columns: 20% auto;
}

.masonry {
  /* Create the columns */
  columns: 3;
}

.masonry img {
  /* Make the images responsive */
  width: 100%;
  display: block;
}
h1{
font-family: "adobe-garamond-pro", serif;
font-weight: 400;
font-style: normal;
}
.titles{
  font-family: 'Helvetica 65 Medium';
    font-weight: 400;
    font-style: normal;
}

h2,h3,h4,h5,h6,a, address{
  /* font-family: 'Playfair Display', serif; */
 font-family: 'Helvetica 65 Medium';
    font-weight: 400;
    font-style: normal;

  color: white;
}

.slide-in-out {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  background-color: black;
}

.slide-in-out.open {
  transform: translateX(0%);
}

.pageSection::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.center-abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.productionsGrid {
  grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
}
/* For mobile screens, use auto-fit. */
.crewGrid {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* For larger screens (for example, if you want to switch at 1024px, but you can adjust this to your needs), 
use a media query to limit to 4 columns */
@media screen and (min-width: 1350px) {
  .crewGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

